.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin

### src ###
/src/main/resources/application.yml
/requets.http
/.gitattributes
/domain_model.md
/PAYMENT_METHODS_HYBRID_WORKFLOW.md
/ARCHITECTURE.md
/.env
/README
compose.yml
Dockerfile
/src/main/kotlin/me/hyunlee/laundry/auth/auth.http
/src/main/resources/db/schema.sql
/src/test/kotlin/me/hyunlee/laundry/payment/adapter/in/web/StripeWebhookControllerTests.kt
/src/test/kotlin/me/hyunlee/laundry/payment/adapter/out/persistence/WebhookEventRepositoryTests.kt
/docs/dynamic-catalog-migration.md
/docs/user-read-api.md
/src/test/resources/application.yml
